Flask==0.9
SQLAlchemy==0.9.7
Jinja2==2.6
Redis==2.7.5
Flask-Uploads==0.1.3
PIL==1.1.7
WTForms==1.0.4

#pip uninstall PIL
#apt-get install libjpeg-dev
#apt-get install zlib1g-dev
#apt-get install libpng12-dev
#pip install PIL
