<section class="section-wraper">
	<div class="container gallery gallery2">     
	<!--
	  <div class="navbar select-option">
	    <div class="btn-group">
	      <button class="btn dropdown-toggle" data-toggle="dropdown">전체 전문 분야 <span class="caret"></span></button>
	      <ul class="dropdown-menu" id="filters">
	        <li><a href="#" data-filter="*">전체 전문 분야</a></li>
	        <li><a href="#" data-filter=".ui">UI 디자인</a></li>
	        <li><a href="#" data-filter=".ux">UX 디자인</a></li>
	        <li><a href="#" data-filter=".fur">가구 디자인</a></li>
	        <li><a href="#" data-filter=".game">게임 디자인</a></li>
	        <li><a href="#" data-filter=".diy">DIY</a></li>
	      </ul>
	    </div>    
	    <div class="btn-group">
	      <button class="btn dropdown-toggle" data-toggle="dropdown">오늘의 포트폴리오 <span class="caret"></span></button>
	      <ul class="dropdown-menu" id="sort-by">
	        <li><a href="#date">최근순</a></li>
	        <li><a href="#name">이름순</a></li>
	        <li><a href="#rating">추천순</a></li>
	        <li><a href="#category">카테고리</a></li>
	        <li><a href="#original">리셋</a></li>
	        <li><a href="#random">랜덤</a></li>        
	      </ul>
	    </div>  
	    <form class="navbar-search form-search pull-right">
	      <div class="input-append">
	        <input type="text" class="span2 search-query" placeholder="Search">
	        <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
	      </div>       
	    </form>
	  </div>
	-->
	  <ul class="thumbnails" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
	    <li class="span3 ux fur" data-category="ux">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-8.jpg" > 
	          <img src="img/nature-q-c-640-480-8.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Tree and Sun</h3>
	          <p class="date" data-time="2012-01-12">2012년 01월 12일</p>
	          <p>Cras justo odio</p>
	          <p>카테고리: UI 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>     
	      </div>
	    </li>
	    <li class="span3 ui" data-category="ui">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/food-q-c-640-480-9.jpg" > 
	          <img src="img/food-q-c-640-480-9.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Hamburger</h3>
	          <p class="date" data-time="2012-06-02">2012년 06월 02일</p>
	          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elitjusto odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: UX 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>      
	      </div>
	    </li>
	    <li class="span3 game fur" data-category="game">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-4.jpg" > 
	          <img src="img/nature-q-c-640-480-4.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Tree</h3>
	          <p class="date" data-time="2012-07-02">2012년 07월 02일</p>
	          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: 게임 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>       
	      </div>
	    </li>
	    <li class="span3 fur ux" data-category="fur">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-7.jpg" > 
	          <img src="img/nature-q-c-640-480-7.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Flower</h3>
	          <p class="date" data-time="2012-08-02">2012년 08월 02일</p>
	          <p>Cras justo odio, justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elitjusto odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elitdapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: 가구 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>     
	      </div>
	    </li>
	    <li class="span3 diy fur" data-category="diy">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-8.jpg" > 
	          <img src="img/nature-q-c-640-480-8.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Tree and Sun</h3>
	          <p class="date" data-time="2012-07-02">2012년 07월 02일</p>
	          <p>Cras justo odio, .</p>
	          <p>카테고리: DIY</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>    
	      </div>
	    </li>
	    <li class="span3 ui game" data-category="ui">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/food-q-c-640-480-9.jpg" > 
	          <img src="img/food-q-c-640-480-9.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Hamburger</h3>
	          <p class="date" data-time="2012-01-02">2012년 01월 02일</p>
	          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: UI 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>     
	      </div>
	    </li>
	    <li class="span3 ui diy" data-category="ui">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-4.jpg" > 
	          <img src="img/nature-q-c-640-480-4.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Tree</h3>
	          <p class="date" data-time="2012-03-02">2012년 03월 02일</p>
	          <p>Cras justo odio, </p>
	          <p>카테고리: UI 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>    
	      </div>
	    </li>
	    <li class="span3 game diy" data-category="game">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-7.jpg" > 
	          <img src="img/nature-q-c-640-480-7.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Flower</h3>
	          <p class="date" data-time="2012-12-02">2012년 12월 02일</p>
	          <p>Cras justo odio, dapibus ac dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.lam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: 게임 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>      
	      </div>
	    </li>
	    <li class="span3 ux ui" data-category="ux">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-8.jpg" > 
	          <img src="img/nature-q-c-640-480-8.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Tree and Sun</h3>
	          <p class="date" data-time="2012-04-12">2012년 04월 12일</p>
	          <p>Cras justo odio, eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: UX 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>      
	      </div>
	    </li>
	    <li class="span3 diy ux" data-category="diy">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/food-q-c-640-480-9.jpg" > 
	          <img src="img/food-q-c-640-480-9.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Hamburger</h3>
	          <p class="date" data-time="2012-11-22">2012년 11월 22일</p>
	          <p>Cras justodapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at a at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: DIY</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>    
	      </div>
	    </li>
	    <li class="span3 game ui" data-category="game">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-4.jpg" > 
	          <img src="img/nature-q-c-640-480-4.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Tree</h3>
	          <p class="date" data-time="2012-07-25">2012년 07월 25일</p>
	          <p>Cras justodapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at  odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: 게임 디자인</p>
		  <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>     
	      </div>
	    </li>
	    <li class="span3 ui game" data-category="ui">
	      <div class="thumbnail">
	        <a data-gallery="gallery" href="img/nature-q-c-640-480-7.jpg" > 
	          <img src="img/nature-q-c-640-480-7.jpg">
	        </a>
	        <div class="caption">
	          <h3 class="name">Flower</h3>
	          <p class="date" data-time="2012-08-05">2012년 08월 05일</p>
	          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <p>카테고리: UI 디자인</p>
	          <p><a href="#" class="btn btn-primary"><i class="icon-shopping-cart"></i>구매</a>
	    <a href="#" class="btn"><i class="icon-thumbs-up"></i>좋아요!</a>
	    <span class="rating pull-right"><i class="icon-heart"></i>12</span>
	    </p>
	        </div>   
	      </div>
	    </li>

	  </ul>


	</div>        

	<nav id="page-nav">
	  <a href="pages/2.php"></a>
	</nav>

	<!-- modal-gallery is the modal dialog used for the image gallery -->
	<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
	    <div class="modal-header">
	        <a class="close" data-dismiss="modal">×</a>
	        <h3 class="modal-title"></h3>
	    </div>
	    <div class="modal-body"><div class="modal-image"></div></div>
	    <div class="modal-footer">
	        <a class="btn modal-download" target="_blank">
	            <i class="icon-download"></i>
	            <span>Download</span>
	        </a>
	        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
	            <i class="icon-play icon-white"></i>
	            <span>Slideshow</span>
	        </a>
	        <a class="btn btn-info modal-prev">
	            <i class="icon-arrow-left icon-white"></i>
	            <span>Previous</span>
	        </a>
	        <a class="btn btn-primary modal-next">
	            <span>Next</span>
	            <i class="icon-arrow-right icon-white"></i>
	        </a>
	    </div>
	</div>  

	<script src="js/scale.fix.js"></script>
	<script src="js/bootstrap-lightbox.min.js"></script>

	<script>
		$(function(){
		  var $container = $('#gallery');
		    $container.imagesLoaded( function(){
		      $container.masonry({
		        itemSelector: '.span3',
		        isAnimated: true,
		        columnWidth: function( containerWidth ) {
		         if($(".container").width() == 940) {
		         return 240;
		        } 
		        var width = $(window).width();
		        var col = 300;
		        if(width < 1200 && width >= 980) {
		        col = 240;
		        }
		        else if(width < 980 && width >= 768) {
		        col = 186;
		        }
		        return col;
		      }
		    }); 
		  });
		    $container.infinitescroll({
		      navSelector  : '#page-nav',    // selector for the paged navigation 
		      nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
		      itemSelector : '.span3',     // selector for all items you'll retrieve
		      loading: {
		          finishedMsg: '로드할 페이지가 더 이상 없습니다.',
		          msgText : "<em>다음 페이지를 로딩합니다.</em>",
		          img: 'http://i.imgur.com/6RMhx.gif'
		        }
		      },
		      // trigger Masonry as a callback
		      function( newElements ) {
		        // hide new items while they are loading
		        var $newElems = $( newElements ).css({ opacity: 0 });
		        // ensure that images load before adding to masonry layout
		        $newElems.imagesLoaded(function(){
		          // show elems now they're ready
		          $newElems.animate({ opacity: 1 });
		          $container.masonry( 'appended', $newElems, true ); 
		        });
		      }
		    ); 
		  
		});

	</script>

</section> <!-- content-wrapper -->
