{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- 업로드된 사진을 보여준다 -->
{% block content %}

  <div class="row-fluid">
	<div class="container span12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Thumbnails</th>
                  <th>Size</th>
                  <th>Tag</th>
                  <th>Memo</th>
                  <th>TakenDate</th>
                  <th>UploadDate</th>
                </tr>
              </thead>
              <tbody>
              
		      {% for photo in photos %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td> 
				    <div class="fileupload-new thumbnail" style="width: 100px; height: 80px;">
				       <a href="/photo/modify/{{photo.id}}">
				    	<img src="{{ url_for('photolog.download_photo', photolog_id=photo.id) }}" style="width: 95px; height: 75px;"/>
				       </a>
				    </div>
                  </td>
                  <td>{{ sizeof_fmt(photo.filesize) }}</td>
                  <td>{{ photo.tag }}</td>
                  <td>{{ photo.comment }}</td>
                  <td>{{ photo.taken_date.strftime('%Y-%m-%d %H:%M') }}</td>
                  <td>{{ photo.upload_date.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
			  {% endfor %}

              </tbody>
            </table>
        </div>
	</div>
	
	<div class="row-fluid" align="center">
		<div class="span12">
		<p>
			<div class="pagination">
			    <ul>
			    <li class="disabled"><a href="#">&laquo;</a></li>
			    <li class="active"><a href="#">1</a></li>
			    <li ><a href="#">2</a></li>
			    <li ><a href="#">3</a></li>
			    <li ><a href="#">4</a></li>
			    <li ><a href="#">5</a></li>
			    <li ><a href="#">6</a></li>
			    <li ><a href="#">7</a></li>
			    <li ><a href="#">8</a></li>
			    <li ><a href="#">9</a></li>
			    <li ><a href="#">10</a></li>
			    <li class="disabled"><a href="#">&raquo;</a></li>
			    </ul>
		    </div>
		</p>
		</div>
	</div>
	
{% endblock %}
