<footer class="footer-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
        	<ul class="nav">
        		<li class="active"><a class="brand" href="#" data-toggle="tooltip" title="first tooltip"><i class="icon-map-marker icon-large"></i></a></li>
        		<li class="divider-vertical"></li>
        		<li class="active">
			<a class="brand" href="#" ><i class="icon-camera-retro icon-large"></i></a>
			</li>
        		<li class="divider-vertical"></li>
         		<li class="active"><a class="brand" href="#"><i class="icon-refresh icon-large"></i></a>
         		</li>
        		<li class="divider-vertical"></li>
        		<li class="active">
	          <a class="brand" href="#"><i class="icon-star-empty icon-large"></i></a>
		      </li>
	     </ul>
        </div>
      </div>
    </div>
</footer>



