<header class="header-wrapper">

	<div class="container-fluid">
		<h1><a href="/" class="site-title"><i class="icon-picture"></i>Photolog</a></h1>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Title</a>
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</li>	
				</ul>
				<form class="navbar-search pull-left form-search" action="">
					<div class="input-append">
						<input type="text" class="input-small search-query" placeholder="Search">
						<button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
					</div>
				</form>
				<ul class="nav pull-right">
				    {% if not session.user_info %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">로그인<b class="caret"></b>
						</a>
						<div class="dropdown-menu login-form">
						<form method="post" action="{{ url_for('photolog.login') }}" accept-charset="UTF-8">
							<input type="text" placeholder="아이디" id="username" name="username">
							<input type="password" placeholder="비밀번호" id="password" name="password">
							<input type="checkbox" name="remember-me" id="remember-me" value="1">
							<label class="string optional" for="user_remember_me">기억하기</label>
							<input class="btn btn-block btn-primary" type="submit" id="sign-in" value="로그인">
							<button type="submit" class="btn btn-block"><i class="icon-google-plus"></i>구글 로그인</button>
							<button type="submit" class="btn btn-block"><i class="icon-twitter"></i>트위터 로그인</button>
						</form>
						</div>
					</li>
					<li><a href="#sign-up" role="button" data-toggle="modal"> <i class="icon-user"></i>  회원가입</a></li>
                    {% else %}
                    <li><a href="{{ url_for('photolog.modify_user', user=session.user_info.username) }}" role="button" data-toggle="modal">{{ session.user_info.username }}</a></li>
                    
					<li><a href="{{ url_for('photolog.logout') }}" role="button" data-toggle="modal">로그아웃</a></li>
					{% endif %}
					
				</ul>
			</div>
		</div>
	</div>

	<!-- Modal : user register form -->
	<div id="sign-up" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="myModalLabel">회원가입</h3>
		</div>
		<div class="modal-body">

			<form class="form-horizontal" action='{{ url_for('photolog.register_user') }}' method="POST">
			  <fieldset>
				<div class="control-group">
				  <!-- Username -->
				  <label class="control-label"  for="username">아이디</label>
				  <div class="controls">
				    <input type="text" id="username" name="username" placeholder="아이디" class="input-medium" required>
				    <p class="help-block">문자와 숫자로 공백없이 입력해주세요.</p>
				  </div>
				</div>
			 
			    <div class="control-group">
			      <!-- E-mail -->
			      <label class="control-label" for="email">E-mail</label>
			      <div class="controls">
			        <input type="text" id="email" name="email" placeholder="이메일" class="input-medium" required>
			        <p class="help-block">이메일 주소를 입력해주세요.</p>
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">비밀번호</label>
			      <div class="controls">
			        <input type="password" id="password" name="password" placeholder="비밀번호" class="input-medium" minlength="4" required>
			        <p class="help-block">최소한 4 글자 이상으로 해주세요.</p>
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <!-- Password -->
			      <label class="control-label"  for="password_confirm">비밀번호(재입력)</label>
			      <div class="controls">
			        <input type="password" id="password_confirm" name="password_confirm" placeholder="비밀번호(재입력)" class="input-medium" required>
			        <p class="help-block">비밀번호를 다시 입력해주세요.</p>
			      </div>
			    </div>
			 
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success">가입하기</button>
			      </div>
			    </div>
			  </fieldset>
			</form>

		</div>
	</div>


</header>
