<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Photolog, {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('photolog.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('photolog.static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 75px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="html5shiv/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

  {% block body %}{% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="{{ url_for('photolog.static', filename='js/jquery-1.10.1.min.js') }}"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ url_for('photolog.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('photolog.static', filename='js/gmaps.js') }}"></script>
    <script src="{{ url_for('photolog.static', filename='js/bootbox.min.js') }}"></script>
 
  <script type=text/javascript>
		$(document).ready(function () {
			
			$("#upload_link").click(function(e) {
				
				var uploadForm = "";
				uploadForm  ="<form name='upload' method='POST' enctype='multipart/form-data'>";
				uploadForm +="	<dl><dd>사진 : <input type='file' name='file' class='input-small'> </dd>";
				uploadForm +="	<dd>태그 : <input type='text' name='tag' class='input-xlarge'> </dd>";
				uploadForm +="	</dl><dd>메모 : <textarea name='comment' rows='3' class='input-xlarge'> </textarea></dd>";
				uploadForm +="  <input type='hidden' name='userid' value='liks'>";
				uploadForm +="</form>";
				
				bootbox.confirm(uploadForm, function(result) {
					
					if(result == true){
						// upload
						document.upload.action="{{ url_for('photolog.upload_file') }}";
						document.upload.submit();
					}else{
						return false;
					}
				}); 				

			});

		});
	</script>


  </body>
</html>
