{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
    <!-- HTML Source Code from : http://bootsnipp.com/snipps/full-width-login-form -->
    <div class="container">
      <div class="row">
        <div id="login" class="modal fade well" data-keyboard="false" data-backdrop="static" style="display: show; ">
          <legend>로그인 하기 </legend>
          {% if error %}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
          </div>
          {% endif %}

          <div class="modal-body">
            <form method="POST" action="#" accept-charset="UTF-8">
              <input type="text" id="username" class="span4" name="username" placeholder="Username">
              <input type="password" id="password" class="span4" name="password" placeholder="Password">
              <label class="checkbox">
                  <input type="checkbox" name="remember" value="1"> ID 기억하기
              </label>
              <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-info btn-block">로그인</button>
                <a href="/user/regist" class="btn btn-default btn-block" >가입하기</a>
              </div>
           </form>
          </div> <!-- modal-body -->
        
        </div> <!-- login -->
      </div> <!-- row -->
    </div> <!-- container -->

    <script type="text/javascript">
      $('#login').modal('show');
    </script>

    
{% endblock %}
