{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}

    <!-- HTML Source Code from : http://bootsnipp.com/snipps/full-width-login-form -->
    <br>
    <div class="container">
      <div class="row">
        <div class="span4 offset4 well">
          <legend>Please Sign In</legend>
          {% if error %}
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
          </div>
          {% endif %}
            <form method="POST" action="{{ url_for('photolog.login') }}" accept-charset="UTF-8">
              <input type="text" id="username" class="span4" name="username" placeholder="Username">
              <input type="password" id="password" class="span4" name="password" placeholder="Password">
              <label class="checkbox">
              <input type="checkbox" name="remember" value="1"> Remember Me
              </label>
              <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
            </form>
            <form method="GET" action="{{ url_for('photolog.register_user') }}" accept-charset="UTF-8">
              <button type="submit" name="submit" class="btn btn-info btn-block">Register User</button>
            </form>
        </div>
      </div>
    </div>
    
{% endblock %}
