{% extends "layout.html" %}
{% block title %}Regist{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- 사용자 등록 폼 -->
{% block content %}

  <div id="regist" class="modal fade" role="dialog"  data-keyboard="false" data-backdrop="static" >
	<div class="modal-head">
		<h3 id="myModalLabel">&nbsp;<i class="icon-user"></i>&nbsp;회원가입</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" action='#' method="POST">
		  <fieldset>
			<div class="control-group">
			  <!-- Username -->
			  <label class="control-label"  for="username">아이디</label>
			  <div class="controls">
			    <input type="text" id="username" name="username" placeholder="아이디" class="input-medium" required>
			    <p class="help-block">문자와 숫자로 공백없이 입력해주세요.</p>
			  </div>
			</div>
		 
		    <div class="control-group">
		      <!-- E-mail -->
		      <label class="control-label" for="email">E-mail</label>
		      <div class="controls">
		        <input type="text" id="email" name="email" placeholder="이메일" class="input-medium" required>
		        <p class="help-block"><i class="icon-envelope-alt"></i> 이메일 주소를 입력해주세요.</p>
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Password-->
		      <label class="control-label" for="password">비밀번호</label>
		      <div class="controls">
		        <input type="password" id="password" name="password" placeholder="비밀번호" class="input-medium" minlength="4" required>
		        <p class="help-block">최소한 4 글자 이상으로 해주세요.</p>
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Password -->
		      <label class="control-label"  for="password_confirm">비밀번호(재입력)</label>
		      <div class="controls">
		        <input type="password" id="password_confirm" name="password_confirm" placeholder="비밀번호(재입력)" class="input-medium" required>
		        <p class="help-block">비밀번호를 다시 입력해주세요.</p>
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Button -->
		      <div class="controls">
		        <button class="btn btn-success">가입하기</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
</div>

    <script type="text/javascript">
 		$('#regist').modal('show');
    </script>


{% endblock %}
