{% extends "layout.html" %}
{% block title %}Regist{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- 사용자 등록 폼 -->
{% block content %}
<script type=text/javascript>
  $(function() {
    var submit_form = function(e) {
      if ($('input[name=username]').val() != '') {
        $.ajax({
        	url         : '/user/check_name'
           ,type        : 'POST'
           ,cache       : false
           ,data        : JSON.stringify({
        	   username: $('input[name=username]').val()
             })
           ,contentType : 'application/json; charset=utf-8'
           ,dataType    : 'json'
           ,success     : function(data) {
        	   username = $('input[name=username]').val();
        	   if (data.result) {
        		   
                   bootbox.alert(username + '는 사용 가능한 아이디입니다.', function() {
                	   $('input[name=email]').focus();
                  
                   });

        	   } else {
                   bootbox.alert(username + '는 이미 사용중입니다. 다른 아이디를 사용하세요.', function() {
                       $('#username').val('');
                       $('input[name=username]').focus();
                       
                   });
        	   }
        		   
             }
           ,error: function(result) {
        	   bootbox.alert('통신에 오류가 발생했습니다. 잠시 후에 다시 사용하세요.')
           }
        });
        
      } else { 
    	  bootbox.alert('사용자명을 넣어주세요.')
      }
      return false;
    };
        
    $('button#username_check').bind('click', submit_form);
    $('input[name=username]').focus();
  });
</script>
<form class="form-horizontal" action='#' method="POST">

    <div id="regist" class="modal fade" role="dialog"  data-keyboard="false" data-backdrop="static" style="position:absolute; overflow:auto;">

    	<div class="modal-header">
            <button class="close" data-dismiss="modal" onclick="javascript:history.back(1);"><i class="icon-remove"></i> &nbsp;</button>
    		<h3 id="myModalLabel">&nbsp;<i class="icon-user"></i>&nbsp;{% if user %}회원 정보 수정{% else %}회원 가입{% endif %}</h3>
    	</div>
    	            
    	<div class="modal-body">
    		  <fieldset>
    			<div class="control-group">
    			  <!-- Username -->
    			  <label class="control-label"  for="username">아이디</label>
    			  <div class="controls">
    			    <input type="text" id="username" name="username" {% if user %}value="{{ user.username }}" readOnly {% endif %} placeholder="문자와 숫자로 공백없이 입력해주세요" class="input-xlarge"  required>
    			    <button id="username_check" class="btn btn-primary">아이디 중복 확인</button>
    			    {% if id_error %}<p class="help-block">{{ id_error }}</p>{% endif %}
    			  </div>
    			</div>
    		 
    		    <div class="control-group">
    		      <!-- E-mail -->
    		      <label class="control-label" for="email">E-mail</label>
    		      <div class="controls">
    		        <input type="email" id="email" name="email" {% if user %}value="{{ user.email }}"{% endif %} placeholder="이메일 주소를 입력해주세요" class="input-xlarge" required>
    		        {% if email_error %}<p class="help-block">{{ email_error }}</p>{% endif %}
    		      </div>
    		    </div>
    		 
    		    <div class="control-group">
    		      <!-- Password-->
    		      <label class="control-label" for="password">비밀번호</label>
    		      <div class="controls">
    		        <input type="password" id="password" name="password" placeholder="최소한 4 글자 이상으로 해주세요" class="input-xlarge" data-minLength=4 required>
    		        {% if pass_error %}<p class="help-block">{{ pass_error }}</p>{% endif %}
    		      </div>
    		    </div>
    		 
    		    <div class="control-group">
    		      <!-- Password -->
    		      <label class="control-label"  for="password_confirm">비밀번호(재입력)</label>
    		      <div class="controls">
    		        <input type="password" id="password_confirm" name="password_confirm" placeholder="비밀번호를 다시 입력해주세요" class="input-xlarge" required>
    		      </div>
    		    </div>
    		 
    		  </fieldset>
    	</div> <!-- modal-body -->
    	
    	<div class="modal-footer">
            <button class="btn btn-success">{% if user %}회원 정보 수정{% else %}가입하기{% endif %}</button>
            {% if user %}<button id="unregist" class="btn btn-primary">서비스 탈퇴</button>{% endif %}
    	</div> <!-- modal-footer -->

    </div>
</form>

    <script type="text/javascript">
 		$('#regist').modal('show');
 		
 		
        $('#unregist').click(function(){
            
            $('#regist').modal('hide');

            bootbox.confirm("정말 포토로그 서비스 사용을 그만두시겠습니까?", function(result) {

                if(result){
                    // window.location="{{ url_for('photolog.unregist') }}"
                    $(location).attr('href',"{{ url_for('photolog.unregist') }}");
                
                }else{
                    $('#regist').modal('show');
                }
                
            });

         });


 	    $('#leave').click(function(){
             bootbox.confirm("정말 포토로그 서비스 사용을 그만두시겠습니까?", function(result) {
                 if(result){
                     window.location="{{ url_for('photolog.unregist') }}"
                 }
             });

         });
    </script>


{% endblock %}
