{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block head %}
<script type="text/javascript">
    var map;

    $(document).ready(function(){
    
      map = new GMaps({
        div: '#map-large',
        lat: {{ photo.geotag_lat }},
        lng: {{ photo.geotag_lng }}
      });
      
    map.addMarker({
        lat: {{ photo.geotag_lat }},
        lng: {{ photo.geotag_lng }},
        title: 'Lima',
        infoWindow: {
            content: '<p><div><b>{{ photo.taken_date }}</b></div><div>{{ photo.comment }}</div><img src="{{ url_for('photolog.download_photo', photolog_id=photo.id) }}" width="300" height="200"/></p>'
		}
      });
    });
    
  </script>
{% endblock %}

{% block content %}

  <div class="row-fluid">
	<div class="container span12">
	{{ photo.filename }}
       <div id="map-large"></div>
    </div>
  </div>
	
	
	
{% endblock %}
