{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

<!-- File Upload Form -->
{% block content %}

  <div class="container well">
		
	    <form name="upload" class="form-horizontal" method='POST' action='/photo/upload' enctype='multipart/form-data' runat="server">
	    	<div class="row-fluid">
		    	<div class="span4">
				    <div class="fileupload fileupload-new" data-provides="fileupload">
					    <div class="fileupload-new thumbnail span6" >
					        <p>
    					    	<img id="preview" class="span12" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
					    	</p>
					    </div>
				
					    <div>
					    	<!--
						    <span class="btn btn-file">
						    	<span class="fileupload-new">Select image</span>
						    	<span class="fileupload-exists">Change</span>
							    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							</span>
						    -->
						    <p>
					    	<input id="photo" type="file" class="btn-file input-small span12" name="upload" />
                            </p>
                            <p>
                            <input type="text" class="input-large span12" name="tag" placeholder="Tag">
                            </p>
                            <p>
	                            <textarea class="input-block-level" rows="3" name="memo" placeholder="memo"> 
	                            </textarea>
                            </p>
                            <P>
                            <button type="submit" name="submit" class="btn btn-medium btn-block btn-primary">저장하기</button>
                            </P>
					    </div>
					  </div>
				</div> <!-- end of row-fluid span4 -->
				<div class="span8" >
				    <div class="container well span12" >
				    		&nbsp; <i class="icon-map-marker"> </i> Show Google Map
                            <div id="photo-location" class="photo_location span12">
                                
                            </div>
              		</div>
				</div> <!-- end of row-fluid span9 -->
		   </div> <!-- end of row-fluid -->
		   <div class="container">
                <input type="hidden" name="date" value="">
                <input type="hidden" name="lat" value="">
                <input type="hidden" name="lng" value="">
                
		   </div>
	    </form>    
	    
	</div>

	<script type="text/javascript">
	

		// reference code : http://jsfiddle.net/LvsYc/ 
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }
                reader.readAsDataURL(input.files[0]);
            }
        }
		
		// When photo uploaded
		$("#photo").change(function() {
		    
            readURL(this);
		    
		    var file = this.files[0];
		    fr   = new FileReader;
		    fr.onloadend = function() {
		        
                // Reference code : http://jsfiddle.net/xQnMd/1/
		        var exif = EXIF.readFromBinaryFile(new BinaryFile(this.result));
                
                lat = toDecimal(exif.GPSLatitude, exif.GPSLatitudeRef);
                lng = toDecimal(exif.GPSLongitude, exif.GPSLongitudeRef);
                
             
                document.forms['upload'].date.value = exif.DateTimeOriginal;
                document.forms['upload'].lat.value = lat;
                document.forms['upload'].lng.value = lng;
                
                
                map = new GMaps({
                  zoom : 17,
                  div: '#photo-location',
                  lat: lat,
                  lng: lng 
                });
                
                
                map.drawOverlay({
                    lat: map.getCenter().lat(),
                    lng: map.getCenter().lng(),
                    content: '<div class="overlay">Here!<div class="overlay_arrow above"></div></div>',
                    verticalAlign: 'top',
                    horizontalAlign: 'center'
                });


		    };
		    
		    fr.readAsBinaryString(file);
		});
		


        function toDecimal(gps_src, gps_ref){

            var temp_array="";
            temp_array = gps_src.toString();
            temp_array = temp_array.split(",");

            deg = temp_array[0];
            min = temp_array[1];
            sec = temp_array[2];
            ref = gps_ref;
                        
            return ConvertDMSToDD(deg, min, sec, ref);
            // return parseFloat(translator(deg, min, sec, ref)).toFixed(6);
        }

 
        function ConvertDMSToDD(days, minutes, seconds, direction) {

            var dd = parseFloat(days) + parseFloat(minutes/60) + parseFloat(seconds/(60*60));
        
            if (direction == "S" || direction == "W") {
                dd = dd * -1;
            } // Don't do anything for N or E
            
            return dd;
        }


 
	</script>
{% endblock %}
